.footer

	&__inner
		padding 40px 0
		max-width $content-width
		margin 0 auto
		background-image: url(../img/footer/logo.png)
		background-position: 0 35px
		background-repeat: no-repeat

	&__menu
		float: left
		margin-left: 300px
		margin-top: 9px
	&__button
		float: right
