.catalog-header-controls
	&__photo
	&__button
	&__caution
		display: inline-block
		vertical-align: middle
		margin-left: 15px

	&__photo
		&:before
			content: ''
			display: inline-block
			sprite($camera)
			margin-right: 10px


.controls-caution
	width: 28px
	height: 28px
	border-radius 50%
	font-size: 22px
	color: white
	font-weight: 700
	background-color: color15
	text-align: center
	box-sizing border-box
	padding-right: 2px
