mixin catalog-view()
	.catalog-view
		.catalog-view__title Отображать:
		a(href="#").catalog-view__item.catalog-view__item_tiles.catalog-view__item_active
			span.catalog-view__text Плиткой
		a(href="#").catalog-view__item.catalog-view__item_list
			span.catalog-view__text Списком
		a(href="#").catalog-view__item.catalog-view__item_frame
			span.catalog-view__text Только фото
