.bread-crumbs
	line-height normal
	ul-reset()

	&__item
	&__separator
		display inline-block
		vertical-align middle

	&__item
		list-style none
		padding 0
		font-weight: 700

	&__link
		&
		&:visited
			color color25
			font-weight: 400

		&:hover
			color color25
			text-decoration none

	&__separator
		padding 0
		font-weight: 400
