.small-girls
	font-size: 0
	margin-bottom: -10%
	.small-girls__item
		width: 46%
		display: inline-block
		font-size: 16px
		margin-bottom: 10%
		&:nth-child(2n)
			margin-left: 8%


.small-girls-item
	&
	&:visited
		text-align: center
		text-decoration: none
		color: color14
		font-size: 16px
		opacity-hover(.87)
		display: block
	&__image
		img
			width: 100%
	&__name
		text-decoration: underline
		font-style: italic
		margin-top: 8px
	&__price
		margin-top: 2px
		b
			color: color15
			font-size: 18px
