.services-list
	&__col
		display: inline-block
		vertical-align: top
		& + &
			margin-left: 40px
	&__item
		margin 10px 0
		&_title
			font-weight: 700
			font-size: 18px
			margin-bottom: 16px
			margin-top: 31px
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
